{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended", // ESLint 官方推荐规则
    "plugin:vue/vue3-recommended" // Vue 3 官方推荐规则
  ],
  "parserOptions": {
    "parser": "@babel/eslint-parser",
    "requireConfigFile": false
  },
  "rules": {
    "no-unused-vars": 0,
    "vue/no-unused-components": "off"
  }
}